html, body{
  overflow-x:hidden;
}
.container{
  margin: 0 auto;
  max-width: 1440px;
  overflow-x:hidden;
}

header{
  background-color: #000;
}
.section-title{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
.wel{
  margin-top: -126px;
}
.vis{
  color: #9D8665;
  margin-bottom: 24px ;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin: 0;
}

.logo{
  display: flex;
  align-items: baseline;
}

.logo p{
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 6px;
}

.nav-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 52px;
}

.Welcome{
  background-color: #000;
}
.welcome-content{
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 1) 31.19%, rgba(0, 0, 0, 0) 55.73%), url(./assets/img/welcome-slider/1.jpg);
background-repeat: no-repeat;
height: 810px;
background-position: calc(100%) calc(100% - 60px);
display: flex;
flex-direction: column;
justify-content: center;
}

.welcome-content p{
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-bottom: 75px;
}

.welcome-content a{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #710707;
  width: 360px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
hr{
  border: 1px solid;
  color: #710707;
  background-color: #710707;
  height: 1px;
  margin: 0;
}

.visiting-container{
  padding-top: 75px;
}
.visiting-content{
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 56px 60px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card a{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin-top: 26px;
  margin-bottom: 11px;

}

.card-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
  margin-top: 11px;
}

.card-text-s{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  margin-top: 11px;
}
.card hr{
  border: 0px solid;
  width: 300px;
}

.Explore{
  background-color: #000;
  margin-top: 75px;
  padding-top: 75px;

}

.explore-content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;
}
.explore-text p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
  padding-top: 4px;
  max-width: 90%;
}
.explore-text span{
  color: #CAAA7D;
}
.ex{
  padding-bottom: 25px;
  max-width: 660px;
  border-bottom: 3px solid #710707;
  margin-bottom: 72px;
  margin-top: -17px;
}

.Video{
 margin-top: 75px;
}
.video-text{
  display:flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.video-text p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  width: 50%;
  margin-top: 6px;
}
.video-progres{
  width: 1440px;
  height: 85px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -4px;
  margin-bottom: 40px;
}
.video-progres button{
  background-color: #000;
}
.progress {
  border-radius: 8px;
  height: 8px;
  }
.time{
  width: 929px;
}
.volume{
  width: 155px;
}
.video-gallery{
  display: flex;
  justify-content: space-between;
}
.img-pagin{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 75px;
}

.Gallery{
  background-color: #000;
  max-height: 1440px;
  overflow: hidden;
  padding-top: 75px;
}
.galery-content{
  display: flex;
  overflow: hidden;
}
.galery-content img{
  margin-bottom: 24px;
  margin-right: 36px;
}
.galery-content-pic1{
  margin-top: 50px;

}

.Tickets{
  margin-top: 70px;
}
.tickets-content{
  margin-top: 75px;
  display: flex;
}
.radio{
  margin-left: 56px;
  margin-top: -3px;
  display: flex;
  flex-direction: column;
}
.tickets-content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-top: 5px;
  margin-left: 4px;
}
.tickets-content h4{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.radio-item{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding-left: 5px;
  margin-top: 25px;
}
.radio-item label{
  padding-left: 23px;
}

.radio-item input {
  display: none;
}
.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -27px;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: transparent;
}

.radio-item input:checked + label:after {
  border-radius: 11px;
  width: 7px;
  height: 7px;
  position: relative;
  top: -16px;
  left: 1px;
  content: " ";
  display: block;
  background: #000;
}
.tickets-amount h3{
  text-align: right;
}
.tickets-amount a{
  display: flex;
  justify-content: center;
  background-color: #000;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 13px 38px;
}
.tickets-r-a{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

input{
  text-align: center;
  width: 54px;
  height: 42px;;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.button-in{
  border: 3px solid #000;
}

.button-container{
  display: flex;
  justify-content: center;
}
button{
  font-family: Roboto;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  border: none;
  border-style: none;
  border-color:#fff;
  background-color: #fff;
  padding-left: 14px;
  padding-right: 10px;
  letter-spacing: 2px;
}
.total{
  padding-top: 50px;
  text-align: right;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* при отображении модального окно */
.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* свойства для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.img-l{
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.Contacts{
  margin-top: 75px;
  margin-bottom: 146px;
}
.contacts-con{
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.contacts-text{
  display: flex;
  flex-direction: column;
}
.contacts-text h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}
.contacts-text a{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
  margin-bottom: 25px;
}
.contacts-text a:hover{
  color: gold;
}
footer{
  background-color: #000;
}
.footer-content{
  position: relative;
  border-bottom: 3px solid #666;
  display: flex;
  padding-top: 86px;
  padding-bottom: 50px;
  align-items: baseline;
}
.footer-logo p{
  padding-left: 25px;
}
.floo{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  padding-bottom: 28px;
}
.nav-footer{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  padding-left: 90px;
  gap: 25px 95px;

}
.social-links{
  position: absolute;
  bottom: 50px;
  right: 0;
}
.social-links a{
  padding-left: 25px;
}
